
@font-face {
  font-family: 'FoundersGroteskWeb-Semibold';
  src: url('/css/klim/FoundersGroteskWeb-Semibold.eot');
  src: url('/css/klim/FoundersGroteskWeb-Semibold.eot?#iefix') format('embedded-opentype'),
  url('/css/klim/FoundersGroteskWeb-Semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PitchWeb-Regular';
  src: url('/css/klim/PitchWeb-Regular.eot');
  src: url('/css/klim/PitchWeb-Regular.eot?#iefix') format('embedded-opentype'),
  url('/css/klim/PitchWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PitchWeb-RegularItalic';
  src: url('/css/klim/PitchWeb-RegularItalic.eot');
  src: url('/css/klim/PitchWeb-RegularItalic.eot?#iefix') format('embedded-opentype'),
  url('/css/klim/PitchWeb-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TiemposTextWeb-Regular';
  src: url('/css/klim/TiemposTextWeb-Regular.eot');
  src: url('/css/klim/TiemposTextWeb-Regular.eot?#iefix') format('embedded-opentype'),
  url('/css/klim/TiemposTextWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TiemposTextWeb-RegularItalic';
  src: url('/css/klim/TiemposTextWeb-RegularItalic.eot');
  src: url('/css/klim/TiemposTextWeb-RegularItalic.eot?#iefix') format('embedded-opentype'),
  url('/css/klim/TiemposTextWeb-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}